[data-theme='diamondplanner'] {
  --text-scaling: 1.0;
  --base-font-color: var(--color-surface-950);
  --base-font-color-dark: var(--color-surface-100);
  --base-font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: inherit;
  --heading-font-family: inherit;
  --heading-font-weight: bold;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-primary-500);
  --anchor-font-color-dark: var(--color-primary-400);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: underline;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: 0.75rem;
  --radius-container: 0.75rem;
  --default-border-width: 1px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: oklch(1 0 0 / 1);
  --body-background-color-dark: oklch(0 0 0 / 1);
  --color-primary-50: oklch(90.61% 0.06 305.66deg);
  --color-primary-100: oklch(83.73% 0.09 293.71deg);
  --color-primary-200: oklch(76.9% 0.12 287.26deg);
  --color-primary-300: oklch(70.4% 0.16 282.79deg);
  --color-primary-400: oklch(63.93% 0.19 278.73deg);
  --color-primary-500: oklch(57.91% 0.23 274.66deg);
  --color-primary-600: oklch(51.61% 0.22 273.59deg);
  --color-primary-700: oklch(45.19% 0.22 272.17deg);
  --color-primary-800: oklch(38.83% 0.21 270.51deg);
  --color-primary-900: oklch(32.68% 0.2 267.8deg);
  --color-primary-950: oklch(26.96% 0.19 264.05deg);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-primary-50);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-dark);
  --color-primary-contrast-500: white;
  --color-primary-contrast-600: var(--color-primary-contrast-light);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(100% 0 none);
  --color-secondary-100: oklch(95.07% 0 301.82deg);
  --color-secondary-200: oklch(90.04% 0.01 292.92deg);
  --color-secondary-300: oklch(84.78% 0.02 298.61deg);
  --color-secondary-400: oklch(79.6% 0.02 295.15deg);
  --color-secondary-500: oklch(74.38% 0.03 295.99deg);
  --color-secondary-600: oklch(67.22% 0.03 296.54deg);
  --color-secondary-700: oklch(59.77% 0.02 294.29deg);
  --color-secondary-800: oklch(51.99% 0.03 296.26deg);
  --color-secondary-900: oklch(44.01% 0.03 293.92deg);
  --color-secondary-950: oklch(35.75% 0.03 294.24deg);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-600: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-700: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(78.8% 0.02 296.67deg);
  --color-tertiary-100: oklch(71.45% 0.02 296.59deg);
  --color-tertiary-200: oklch(63.92% 0.03 296.49deg);
  --color-tertiary-300: oklch(56.33% 0.02 294.86deg);
  --color-tertiary-400: oklch(48.3% 0.02 294.69deg);
  --color-tertiary-500: oklch(39.91% 0.03 294.42deg);
  --color-tertiary-600: oklch(34.46% 0.02 296.76deg);
  --color-tertiary-700: oklch(28.68% 0.02 295.56deg);
  --color-tertiary-800: oklch(23.02% 0.01 293.15deg);
  --color-tertiary-900: oklch(16.52% 0.01 285.73deg);
  --color-tertiary-950: oklch(0% 0 none);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(96.1% 0.04 122.61deg);
  --color-success-100: oklch(90.85% 0.08 138.82deg);
  --color-success-200: oklch(85.89% 0.12 143.79deg);
  --color-success-300: oklch(81.48% 0.16 145.44deg);
  --color-success-400: oklch(77.36% 0.19 145.68deg);
  --color-success-500: oklch(73.75% 0.22 144.96deg);
  --color-success-600: oklch(68.13% 0.2 143.66deg);
  --color-success-700: oklch(62.74% 0.18 141.9deg);
  --color-success-800: oklch(57% 0.16 139.68deg);
  --color-success-900: oklch(51.56% 0.14 136.04deg);
  --color-success-950: oklch(45.91% 0.12 129.77deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-dark);
  --color-success-contrast-700: var(--color-success-contrast-light);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(96.65% 0.04 93.18deg);
  --color-warning-100: oklch(94.4% 0.08 95.75deg);
  --color-warning-200: oklch(92.14% 0.12 95.83deg);
  --color-warning-300: oklch(90.38% 0.15 95.42deg);
  --color-warning-400: oklch(88.51% 0.17 94.06deg);
  --color-warning-500: oklch(87.02% 0.18 92.02deg);
  --color-warning-600: oklch(79.59% 0.16 91.12deg);
  --color-warning-700: oklch(71.98% 0.15 89.99deg);
  --color-warning-800: oklch(64.27% 0.13 89.72deg);
  --color-warning-900: oklch(56.21% 0.11 87.96deg);
  --color-warning-950: oklch(47.86% 0.1 85.5deg);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-dark);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(84.42% 0.09 34.75deg);
  --color-error-100: oklch(78.83% 0.12 27.53deg);
  --color-error-200: oklch(73.75% 0.16 23.91deg);
  --color-error-300: oklch(69.47% 0.19 23.13deg);
  --color-error-400: oklch(65.97% 0.22 23.48deg);
  --color-error-500: oklch(63.5% 0.24 25.13deg);
  --color-error-600: oklch(57.73% 0.22 25.73deg);
  --color-error-700: oklch(52.02% 0.2 26.23deg);
  --color-error-800: oklch(46.01% 0.18 27.14deg);
  --color-error-900: oklch(39.98% 0.16 27.84deg);
  --color-error-950: oklch(33.36% 0.14 29.23deg);
  --color-error-contrast-dark: var(--color-error-700);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-light);
  --color-error-contrast-400: var(--color-error-contrast-light);
  --color-error-contrast-500: var(--color-error-contrast-light);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(99.92% 0 195.38deg);
  --color-surface-100: oklch(92.75% 0 247.74deg);
  --color-surface-200: oklch(85.23% 0 286.57deg);
  --color-surface-300: oklch(77.64% 0 271.48deg);
  --color-surface-400: oklch(69.76% 0.01 286.33deg);
  --color-surface-500: oklch(61.86% 0.01 286.22deg);
  --color-surface-600: oklch(52.6% 0.01 286.22deg);
  --color-surface-700: oklch(43.23% 0 286.3deg);
  --color-surface-800: oklch(33.01% 0.01 286.19deg);
  --color-surface-900: oklch(22.25% 0 286.39deg);
  --color-surface-950: oklch(0% 0 none);
  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-dark);
  --color-surface-contrast-500: var(--color-surface-contrast-dark);
  --color-surface-contrast-600: var(--color-surface-contrast-light);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
